<a href="https://colab.research.google.com/github/moonjunseok/moon-python/blob/main/Numpy2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import random
n=int(input('로또 번호를 몇개 생성할까요?>'))

로또 번호를 몇개 생성할까요?>4
[22, 23, 33, 40, 43, 45]

In [ ]:
import numpy as np
n=int(input('로또 번호를 몇개 생성할까요?>'))
def lotto(n):
  for i in range(1,n+1):
    print(f'{i}. 로또번호 :{np.random.choice(46,6,replace=False)}')
lotto(n)

로또 번호를 몇개 생성할까요?>0

**랜덤 함수**

random은 난수를 발생시키는 모듈. 모듈에는 여러 함수가 존재

In [ ]:
import random  #random module 설치해주고

**random.random() **

0.0에서부터 1,0 사이의 실수(float)를 반환합니다.

(정확한 범위는 1.0을 포함하지 않는 범위입니다. (0.0 <= x < 1.0)

In [ ]:
x=random.random()
print(x)

0.9204158103895553

**random.uniform(a,b)**

인자로 들어온 a~b 사이의 실수(float)를 반환합니다. 

uniform 함수의 랜덤 범위는 a<= x <= b 입니다.

In [ ]:
x = random.uniform(10, 20)
print(x)

15.955597014962006

**random.randint(a,b)**

인자로 들어온 a,b 사이의 랜덤한 정수(int)를 반환합니다.

반환하는 x는 a,b를 포함한 범위입니다. (a<=x<=b)

randrange 함수에 a,b+1을 넣은것과 동일하게 동작합니다.

In [ ]:
x=random.randint(10,20)
print(x)

13

**random.randrange(a,b),  random.randrange(b)**

매개변수 1개 버전, 2개 버전이 존재합니다.

randrange(a,b)는 a<= x <=b 의 범위내에서 정수(int)를 반환합니다.(b를 포함하지 않습니다.)

randrange(b) 는 0<= x < b 의 범위 내에서의 랜덤한 정수(int)를 반환합니다.(b를 포함하지 않습니다.)

In [ ]:
x1 = random.randrange(10, 20)

print(x1)    # 10 <= x < 20 사이의 랜덤한 int 반환

x2 = random.randrange(20)

print(x2)    # 0 <= x < 20 사이의 랜덤한 int 반환

14
4

**random.choice(seq)**

choice 함수는 매개변수로 seq 타입을 받습니다. 시퀀스 데이터 타입은 문자열, 튜플, range, 리스트 타입들을 말합니다.

시퀀스 함수는 인자로 받은 리스트, 튜플, 문자열, range 에서 무작위로 하나의 원소를 뽑습니다.

만약, 비어있는 시퀀스 타입의 객체를 인자로 넣는다면 (ex. 리스트가 비어있다면) indexError 의 예외가 발생합니다.

In [ ]:
x1 = random.choice('BlockDMask')

print(x1)    # 'BlockDMask' 문자열중 랜덤한 문자를 반환

x2 = random.choice('')

print(x2)    # indexError 발생

a

IndexError: ignored

**random.shuffle(seq)**

셔플 함수는 데이터의 순서를 무작위로 랜덤하게 바꾸어 주는 함수 입니다.

매개변수 x에는 시퀀스 데이터 타입이 들어가게 됩니다. 하지만 내부의 값을 무작위로 바꿔야 하기 때문에 

내부인자를 변경할 수 있는 리스트만 가능하게 됩니다. (문자열, 튜플 및 range(a,b)는 불가능)

In [ ]:
arr = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

print(arr)    # [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
random.shuffle(arr)

In [ ]:
print(arr)

[8, 6, 3, 2, 1, 4, 9, 10, 7, 5]

In [ ]:
# Flatten

# N dim -> 1 dim

arr=np.zeros((3,2))   # 3행 2열 
arr.ndim

2

In [ ]:
arr.flatten()  #1차원으로 바꿔준다.

array([0., 0., 0., 0., 0., 0.])

In [ ]:
arr.ndim  # 아예 바꿔주는건 아닌가보다.

2