<a href="https://colab.research.google.com/github/moonjunseok/moon-python/blob/main/%EB%A8%B8%EC%8B%A0%EB%9F%AC%EB%8B%9D%EC%9D%84_%EC%9C%84%ED%95%9C_%ED%8C%8C%EC%9D%B4%EC%8D%AC1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

여러 단어들을 하나로 붙일 때

In [1]:
colors = ['red','blue','green','yellow']
result=''
for s in colors:
  result += s

In [4]:
print(result)

redbluegreenyellow

In [5]:
result = ''.join(colors)
result

'redbluegreenyellow'

**Python Code**

Split & Join

ListComprehension

Enumerate & Zip

**Split 함수**
- String Type의 값을 나눠서 List 형태로 변환

In [6]:
items = 'zero one two three'.split()  #빈칸을 기준으로 문자열 나누기
print(items)  #뉴스데이

['zero', 'one', 'two', 'three']

In [7]:
example = 'python,jquery,javascript' # ,을 기준으로 문자열 나누기
example.split(',')

['python', 'jquery', 'javascript']

In [8]:
a,b,c = example.split(',')  # 리스트에 있는 각 값을 a,b,c 변수로 unpacking

In [9]:
print(example)

python,jquery,javascript

In [11]:
print(a)
print(b)
print(c)

python
jquery
javascript

In [13]:
example = 'cs50.gachon.edu'
subdomain,domain,tld = example.split('.')  # '.' 을 기준으로 문자열 나누기 -> unpacking

In [14]:
print(example)

cs50.gachon.edu

In [15]:
subdomain

'cs50'

**join 함수**
- String List를 합쳐 하나의 String으로 반환할 때 사용

In [16]:
colors = ['red','blue','green','yellow']
result = ''.join(colors)
result

'redbluegreenyellow'

In [18]:
result = ' '.join(colors)   #연결 시 빈칸 1칸으로 연결
result

'red blue green yellow'

In [19]:
result = ','.join(colors)  #연결 시 ',' 으로 연결
result

'red,blue,green,yellow'

In [20]:
result = '-'.join(colors)  #연결 시 '-' 으로 연결
result

'red-blue-green-yellow'

**ListComprehensions**


*   기존 list 를 사용하여 간단히 다른 list를 만드는 기법
*   포괄적인 list, 포함되는 리스트라는 의미로 사용됨
*   일반적으로 for + append 보다 속도가 빠름

In [21]:
result=[]
for i in range(10):
  result.append(i)

In [22]:
result

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [23]:
result=[i for i in range(10)]
result

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [24]:
result = [i for i in range(10) if i %2 == 0]
result

[0, 2, 4, 6, 8]

In [36]:
word_1='Hello'
word_2='World'
result = [i+j for i in word_1 for j in word_2]
print(result)   # Nested for loop

['HW', 'Ho', 'Hr', 'Hl', 'Hd', 'eW', 'eo', 'er', 'el', 'ed', 'lW', 'lo', 'lr', 'll', 'ld', 'lW', 'lo', 'lr', 'll', 'ld', 'oW', 'oo', 'or', 'ol', 'od']

In [26]:
case_1 = ['A','B','C']
case_2 = ['D','E','A']
result = [i+j for i in case_1 for j in case_2]
result

['AD', 'AE', 'AA', 'BD', 'BE', 'BA', 'CD', 'CE', 'CA']

In [27]:
result = [i+j for i in case_1 for j in case_2 if not(i==j)]  # if문을 Filter : i랑 j과 같다면 List에 추가하지 않음
result

['AD', 'AE', 'BD', 'BE', 'BA', 'CD', 'CE', 'CA']

In [28]:
result.sort()
result

['AD', 'AE', 'BA', 'BD', 'BE', 'CA', 'CD', 'CE']

In [39]:
words = 'The quick brown fox jumps over the lazy dog'.split()
# 문장을 빈칸 기준으로 나눠 list로 변환
print(words)

['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [37]:
stuff=[[w.upper(),w.lower(),len(w)]for w in words]
# list의 각 elemente들을 대문자, 소문자, 길이로 변환하여 two dimensional list로 변환

In [38]:
stuff

[['THE', 'the', 3],
 ['QUICK', 'quick', 5],
 ['BROWN', 'brown', 5],
 ['FOX', 'fox', 3],
 ['JUMPS', 'jumps', 5],
 ['OVER', 'over', 4],
 ['THE', 'the', 3],
 ['LAZY', 'lazy', 4],
 ['DOG', 'dog', 3]]

Enumerate
- list의 element를 추출할 때 번호를 붙여서 추출

In [1]:
for i ,v in enumerate(['tic','tac','toe']):
  #list의 있는 index와 값을 unpacking
  print(i,v)

0 tic
1 tac
2 toe

In [3]:
mylist = ['a','b','c','d']
list(enumerate(mylist))  #list에 있는 index와 값을 unpacking하여 list로 저장

[(0, 'a'), (1, 'b'), (2, 'c'), (3, 'd')]

In [4]:
{i:j for i,j in enumerate('Gachon University is an academic institute located in south korea.'.split())}
# 문장을 list로 만들고 list의 index와 값을 unpacking하여 dict로 저장

{0: 'Gachon',
 1: 'University',
 2: 'is',
 3: 'an',
 4: 'academic',
 5: 'institute',
 6: 'located',
 7: 'in',
 8: 'south',
 9: 'korea.'}

**Zip**
- 두 개의 list의 값을 병렬적으로 추출함

In [5]:
alist = ['a1','a2','a3']
blist = ['b1','b2','b3']
for a,b in zip(alist,blist): # 병렬적으로 값을 추출
  print(a,b)

a1 b1
a2 b2
a3 b3

In [6]:
a,b,c=zip((1,2,3),(10,20,30),(100,200,300))
# 각 튜플의 같은 index끼리 묶음

In [8]:
a,b

((1, 10, 100), (2, 20, 200))

In [9]:
[sum(x) for x in zip((1,2,3),(10,20,30),(100,200,300))]
# 각 튜플 같은 index를 묶어 합을 list로 변환

[111, 222, 333]

Enumerate & zip

In [10]:
alist = ['a1','a2','a3']
blist = ['b1','b2','b3']

for i, (a,b) in enumerate(zip(alist,blist)):
  print(i,a,b) # index alist[index] blist[index] 표시

0 a1 b1
1 a2 b2
2 a3 b3