<a href="https://colab.research.google.com/github/moonjunseok/moon-python/blob/main/%EB%A8%B8%EC%8B%A0%EB%9F%AC%EB%8B%9D%EC%9D%84_%EC%9C%84%ED%95%9C_%ED%8C%8C%EC%9D%B4%EC%8D%AC2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Lambda**
- 함수 이름 없이, 함수처럼 쓸 수 있는 익명함수
- 수학의 람다 대수에서 유래함

In [ ]:
# General function

def f(x,y):
  return x+y

print(f(1,4))

5

In [ ]:
# Lambda function

f = lambda x,y : x+y
print(f(1,4))

5

In [ ]:
f=lambda x: x**2
print(f(3))

9

In [ ]:
f=lambda x:x/2
print(f(3))

1.5

In [ ]:
print((lambda x: x+1)(5))

6

**Map function**
- Sequence 자료형 각 element에 동일한 function을 적용함
- map(function_name,list

In [ ]:
ex=[1,2,3,4,5]
f=lambda x:x**2
print(list(map(f,ex)))  #map 앞에 꼭list를 써야지만 작동가능

[1, 4, 9, 16, 25]

In [ ]:
f=lambda x,y: x+y
print(list(map(f,ex,ex)))

[2, 4, 6, 8, 10]

In [ ]:
list(map(lambda x : x**2 if x%2 == 0 else x,ex)) # 만족하지 않을때의 값, 즉 else값을 써줘야한다.

[1, 4, 3, 16, 5]

In [ ]:
[value**2 for value in ex]

[1, 4, 9, 16, 25]

**Reduce function**
- map function과 달리 list에 똑같은 함수를 적용해서 통합

In [ ]:
from functools import reduce

In [ ]:
print(reduce(lambda x,y: x+y,[1,2,3,4,5]))

15

In [ ]:
def factorial(n):
  return reduce(
      lambda x, y: x*y, range(1,n+1)) s

In [ ]:
factorial(5)

120

Asterisk
- 흔히 알고 있는 *를 의미함
- 단순 곱셈, 제곱연산, 가변 인자 활용 등 다양하게 사용됨

In [ ]:
# *args : 여러개 값들을 한 번에 받아라
def asterisk_test(a,*args):
  print(a,args)
  print(type(args))

asterisk_test(1,2,3,4,5,6)

1 (2, 3, 4, 5, 6)
<class 'tuple'>

In [ ]:
# **kargs : 여러개 값들을 한 번에 받아라
def asterisk_test(a,**kargs):
  print(a,kargs)
  print(type(kargs))

asterisk_test(1,b=2,c=3,d=4,e=5,f=6)

1 {'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6}
<class 'dict'>

Asterisk - unpacking a container

In [ ]:
a,b,c = ([1,2],[3,4],[5,6])
print(a,b,c)

[1, 2] [3, 4] [5, 6]

In [ ]:
data = ([1,2],[3,4],[5,6])
print(*data)

[1, 2] [3, 4] [5, 6]

In [ ]:
def asterisk_test(a,b,c,d):
  print(a,b,c,d)
data = {'b':1,'c':2,'d':3}
asterisk_test(10,**data)

10 1 2 3

In [ ]:
for data in zip(*([1,2],[3,4],[5,6])):
  print(data)

(1, 3, 5)
(2, 4, 6)

In [ ]:
def asterisk_test(a,b,c,d,e=0):
  print(a,b,c,d,e)

data = {'d':1,"c":2,'b':3,'e':56}
asterisk_test(10,**data)

10 3 2 1 56