<a href="https://colab.research.google.com/github/moonjunseok/moon-python/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EA%B5%90%EC%95%88_%EB%AC%B8%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**'아메리카노를 많이많이많이 좋아한다.' 를 나오게 하세요.**

In [ ]:
a='아메리카노를'
b='좋아한다.'
c='많이'

In [ ]:
a+(3*c)+b

'아메리카노를많이많이많이좋아한다.'

**좋아하는 음식 5개를 food라는 리스트에 담아보자.**

In [ ]:
food=['피자','라면','햄버거','삼겹살','파스타']
food

['피자', '라면', '햄버거', '삼겹살', '파스타']

**리스트 food 가장 앞에 파이썬이, 가장 뒤에는 집이라는 단어가 오도록 수정하자.**

In [ ]:
food.insert(0,'파이썬')
food.append('집')
food

['파이썬', '파이썬', '피자', '라면', '햄버거', '삼겹살', '파스타', '집']

**pop을 이용하여 파이썬을 삭제해보자**

In [ ]:
food.pop(0)  #pop은 인덱스(위치) 가 명시되어야 한다.
food

['피자', '라면', '햄버거', '삼겹살', '파스타', '집']

**사용자로 점수를 3개 입력받아 점수가 65점보다 클 경우 True 아닐경우 False를 출력하세요.**

In [ ]:
a=[63,70,64]
print(a[0]>65) and (a[1]>65) and (a[2]>65)

False

국어, 영어, 수학 점수가 키로 하는 딕셔너리를 만들어보자. 각각의 점수는 다음과 같다.

국어:87, 영어:88, 수학:82

In [ ]:
score={'국어':87,'영어':88,'수학':82}
print(score)

{'국어': 87, '영어': 88, '수학': 82}

b로 a를 나눈 나머지가 3초과면 실패, 3이면 무승부, 3미만이면 성공이 출력 되도록 만들어보자

In [ ]:
a=34
b=4

In [ ]:
c=a%b

In [ ]:
if c>3:
  print('실패')
elif c==3:
  print('무승부')
else:
  print('성공')

성공

사용자로 점수를 3개 입력받아 모든 점수가 65점보다 클 경우 합격 아닐 경우 불합격을 출력하세요. 단, 0~100이 아닌 숫자가 입력된 경우 "잘못된 점수가 입력되었습니다"를 출력하세요.

In [ ]:
a=int(input())
b=int(input())
c=int(input())

# if 100>=a>65 and 100>=b>65 and 100>=c>65 :
#   print("합격")
# elif (0>=a and a>=100) and (0>=b and b>=100) and (0>=c and c>=100) :
#   print("잘못된 점수가 입력되었습니다.")
# else:
  # print('불합격')

if 65<a<=100 and 65<b<=100 and 65<c<=100 :
  print("합격")
elif 0<=a<=100 and 0<=b<=100 and 0<=c<=100 :
  print("불합격")
else:
   print("잘못된 점수가 입력되었습니다.")

80
80
80
합격

사용자로부터 정수를 하나 입력받아 입력한 

정수가 홀수인지 짝수인지 판별하여라

In [ ]:
x = int(input('정수를 입력해주세요:'))
if (x%2)==1:
  print('입력하신 %d는 홀수입니다.'%x)
else :
  print('입력하신 %d는 짝수입니다.'%x)

# a= int(input('정수를 입력해주세요 :'))
# if a%2 == 0:
#   print('입력하신' %d '는 짝수 입니다.' %a )
# else:
#   print('입력하신'a'는 홀수 입니다.')

정수를 입력해주세요5
입력하신 5는 홀수입니다.

양의 정수 하나를 입력받아 이 정수가 2의 배수인지 3의 배수인지 작성하시오.

In [ ]:
a=int(input())

if a%6==0:
  print('이 정수는 2와 3의 배수입니다.')
elif a%2 == 0:
  print('이 정수는 2의 배수입니다.')
elif a%3 == 0:
  print('이 정수는 3의 배수입니다.')
else:
  pass

13

1부터 10까지 합을 구하시오.(range 함수를 이용하시오)

In [ ]:
a=0

for b in range(1,11): #1
  a=a+b
  print(a)

1
3
6
10
15
21
28
36
45
55

사용자로부터 정수를 입력받아, 해당 정수만큼 '안녕'을 출력해주세요.

정수를 입력해주세요:5

안녕

안녕

안녕

안녕

안녕

In [ ]:
a=int(input('정수를 입력해주세요:'))

for i in range(a):
  print('안녕')

정수를 입력해주세요:5
안녕
안녕
안녕
안녕
안녕

정수를 입력해주세요 :5

*

**

'***

'****

'*****

In [ ]:
a=int(input('정수를 입력해주세요:'))

for i in range(a):
  print('*'*(i+1))  #0부터 시작하니깐

정수를 입력해주세요:5
*
**
***
****
*****

사용자로부터 정수를 입력받아, 입력된 정수 만큼 별 찍기(역순)

In [ ]:
a=int(input('정수를 입력해주세요:'))

for i in range(a,0,-1):
  print('*'*(i))

정수를 입력해주세요:5
*****
****
***
**
*

1.  x=[3,6,9,20,-7,5]의 값의 모든 요소에 10을 곱한뒤 출력하세요.

심화:출력과 리스트 x의 값에도 모두 10을 곱해주세요.

In [ ]:
x=[3,6,9,20,-7,5]

# for i in x:
#   print(i*10,end=',')   # end=',' : ,를 붙혀주고 옆에다가 나열

for i in range(len(x)):      #  range(len(x)): x안에 갯수만큼, 즉 x는 6개이므로 range(6)이 된다.
  x[i]=x[i]*10
  print(x)

[30, 6, 9, 20, -7, 5]
[30, 60, 9, 20, -7, 5]
[30, 60, 90, 20, -7, 5]
[30, 60, 90, 200, -7, 5]
[30, 60, 90, 200, -70, 5]
[30, 60, 90, 200, -70, 50]

y={'math':70,'science':80,'english':20}의 값의 모든 요소에 10을 더한뒤 출력하세요.

In [ ]:
y={'math':70,'science':80,'english':20}

for key in y:
  val=y[key]
  val= y[key]+10
  print('%s:%d'%(key,val))

math:80
science:90
english:30

In [ ]:
y={'math':70,'science':80,'english':20}

# for a in y:
#   val=y[a]
#   print(val)
a=y[]

SyntaxError: ignored

숫자를 입력받고 입력받은 정수의 구구단을 출력하세요.

In [ ]:
a=int(input('정수를 입력해주세요:'))
for b in range(1,11):
  print('%d*%d=%d'%(a,b,a*b))

정수를 입력해주세요:5
5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
5*10=50

(1) word=['school','game','piano','science','hotel','mountain'] 중 

글자수가 6글자 이상인 문자를 모아 새로운 리스트를 생성 하세요.

In [ ]:
word=['school','game','piano','science','hotel','mountain']

a=[]
for i in range(len(word)):
  if len(word[i])>=6:
    a.append(word[i])
print(a)

['school', 'science', 'mountain']

구구단을 1단부터 9단까지 출력

In [ ]:
for a in range(1,10):
  for b in range(1,10):
    print('%d*%d : %d'%(a,b,a*b))

1*1 : 1
1*2 : 2
1*3 : 3
1*4 : 4
1*5 : 5
1*6 : 6
1*7 : 7
1*8 : 8
1*9 : 9
2*1 : 2
2*2 : 4
2*3 : 6
2*4 : 8
2*5 : 10
2*6 : 12
2*7 : 14
2*8 : 16
2*9 : 18
3*1 : 3
3*2 : 6
3*3 : 9
3*4 : 12
3*5 : 15
3*6 : 18
3*7 : 21
3*8 : 24
3*9 : 27
4*1 : 4
4*2 : 8
4*3 : 12
4*4 : 16
4*5 : 20
4*6 : 24
4*7 : 28
4*8 : 32
4*9 : 36
5*1 : 5
5*2 : 10
5*3 : 15
5*4 : 20
5*5 : 25
5*6 : 30
5*7 : 35
5*8 : 40
5*9 : 45
6*1 : 6
6*2 : 12
6*3 : 18
6*4 : 24
6*5 : 30
6*6 : 36
6*7 : 42
6*8 : 48
6*9 : 54
7*1 : 7
7*2 : 14
7*3 : 21
7*4 : 28
7*5 : 35
7*6 : 42
7*7 : 49
7*8 : 56
7*9 : 63
8*1 : 8
8*2 : 16
8*3 : 24
8*4 : 32
8*5 : 40
8*6 : 48
8*7 : 56
8*8 : 64
8*9 : 72
9*1 : 9
9*2 : 18
9*3 : 27
9*4 : 36
9*5 : 45
9*6 : 54
9*7 : 63
9*8 : 72
9*9 : 81

In [ ]:
b=int(input('입력하세요:'))

for i in range(1,b+1):
  if (i%15)==0:
    print('3과 5의 공배수')
  elif (i%3)==0:
    print('3의 배수')
  elif (i%5)==0:
    print('5의 배수')
  else:
    print(i)

입력하세요:21
1
2
3의 배수
4
5의 배수
3의 배수
7
8
3의 배수
5의 배수
11
3의 배수
13
14
3과 5의 공배수
16
17
3의 배수
19
5의 배수
3의 배수

In [ ]:
#사용자로부터 숫자를 계속 입력 받다가 s or S 를 입력하면 합계출력

c=0
d=1
while (d==1):
  a=(input())
  if (a=='s' or a=='S'):
    d=0
  else:
    a=int(a)
    c+=a
print(c)

5
5
5
s
15

In [ ]:
#두개의 숫자를 input으로 받으면 앞의 숫자를 뒤의 숫자로 나누는 함수이다.
#나눗셈을 한 후에는 몫과 나머지 순으로 된 튜플 값을 반환한다.

In [ ]:
def div(a,b):
  result=(a//b,a%b)
  return result

In [ ]:
c=div(3,5)
c

(0, 3)

In [ ]:
type(c)

tuple

In [ ]:
#이 함수는 두개의 숫자를 input으로 받으면 작은 수로 큰 수를 나눈 몫과 나머지를 반환하는 함수이다.
#반환 값은 튜플로 되어 있으며 몫, 나머지 순으로 되어 있다.
#단, 0으로 나누는 것은 불가하기 때문에 두 수 중에 작은 수가 0이라면 화면에 '0은 사용할 수 없습니다'를 출력하고 종료되어야 한다.

a=int(input())
b=int(input())

def div(a,b):
  if(a<b):
    result=(a//b,a%b)
  elif a==0 or b==0 :
    print('0은 사용할수 없습니다')
  else:
    pass  
    return result

5
7

In [ ]:
#어떠한 string을 받으면 일정한 단위로 끊어서 화면에 출력하는 함수를 짜보자
#끊는 단위는 따로 정하지 않으면 2로 설정해보자.

def func(string,unit):  #string 은 매개변수 , unit
  i=0
  while i < len(string):
    print(string[i:i+unit])
    i+=unit
func('테스트를 위한 문장입니다.',2)

테스
트를
 위
한
문장
입니
다.

In [ ]:
#add_all함수를 짜봅시다.
# add_all(1,2,3,4,5,6,7,8,9,10) -> 55

def add_all(*a):  #add_all이라는 함수를 쓰고, (*a) 는 안에 있는걸 모두 곱해준다.
  s= 0            #s는 0이다.
  for i in range(len(a)):  # i에다가 len(a)=9, 즉 9까지를 i에 차례대로 넣을꺼다.
    s+=a[i]   # s = s+a[i], 누적 합을 구한다.
  return s #add_all은 s를 값으로 나타낸다.

In [ ]:
add_all(1,2,3,4,5,6,7,8,9,10)

55