<a href="https://colab.research.google.com/github/moonjunseok/2021-04-10-/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC%EC%9D%84_%EC%A0%9C%EB%8C%80%EB%A1%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**천천히, 하나씩, 정확하게, 알아도 다시한번, 꾸준히**

문자열을 정수형으로 바꿀수도 있다.

In [ ]:
a=5
b='5'

In [ ]:
type(a)

int

In [ ]:
type(b)

str

In [ ]:
c=str(a)
type(c)

str

**인덱싱**: 순서가 있는 변수의 특정 위치에 접근 할 수 있게 해줌.

                       변수[위치]

**슬라이싱** 변수의 일정 부분에 접근하여 잘라옴.

                       변수[시작:끝:간격]

**string의 method**

In [ ]:
#대소문자 변환 : lower, upper

a='Alphabet'
print(a.lower())

alphabet

In [ ]:
print(a.upper())

ALPHABET

In [ ]:
#해당 문자의 갯수 세기 : count
a='Alphabet'
a.count('a')  #count 는 대소문자를 구분함

1

In [ ]:
#문자열의 위치 찾기 : find , index
a='Alphabet'
a.find('t')   #찾는게 없으면 -1 반환

7

In [ ]:
a.index('t')   #찾는게 없으면 error 반환

7

In [ ]:
#문자열 바꾸기: replace (치환)
a='life is c'
a.replace('c','chicken')

'life is chicken'

In [ ]:
#문자열 나누기 : split
a.split(' ')  #따옴표 '' 사이에 기준이 되는 문자를 넣기, 생략시 기준은 띄어쓰기

['life', 'is', 'c']

In [ ]:
#문자열 삽입 : join
a='abcd'
','.join(a) #따옴표''사이에 삽입할 문자를 넣기

'a,b,c,d'

**리스트(list)**

*   모든 자료형을 담을 수 있음
*   삽입, 수정, 삭제가 자유롭다.
*   ,(콤마)로 구분한다.

In [ ]:
a_1=['a','b','c']

In [ ]:
a in a_1  # a_1 안의 'a'는 string이고 a 는 list여서 False이다.

False

**list의 메소드**

In [ ]:
# 삽입: append, insert
list2=['파이썬','c++','java']

In [ ]:
list2.append('R')
list2

['파이썬', 'c++', 'java', 'R']

In [ ]:
list2.insert(2,'c++')
list2.insert(5,'C')
list2

['파이썬', 'c++', 'c++', 'java', 'R']

In [ ]:
#수정: 덮어쓰기 -> 인덱스나 슬라이싱을 통해 수정한다.
list2[0]='Python'
list2

['Python', 'c++', 'c++', 'java', 'R', 'C']

In [ ]:
#확장 : extend([])가 있는데 거의 안쓴다고 한다.
list2.extend(['MATLAB','Julia'])
list2

['Python', 'c++', 'c++', 'java', 'R', 'C', 'MATLAB', 'Julia']

In [ ]:
#삭제: remove, del
list2.remove('C')
list2             # remove는 지우고자 하는 요소를 명시해야하고 가장 앞에 있는 요소가 삭제된다.

['Python', 'c++', 'c++', 'java', 'R', 'MATLAB', 'Julia']

In [ ]:
del list2[6]  #del은 메모리에 할당되어있는걸 아예 삭제해준다.
list2

['Python', 'c++', 'c++', 'java', 'R', 'MATLAB']

In [ ]:
# 꺼내오기:pop
list2.pop()  # 보여주고 삭제한다.

'R'

In [ ]:
list2  # ()안 인덱스에 해당하는 요소를 반환시킨다. 인덱스를 생략하면 가장 마지막 요소를 꺼내온다.

['Python', 'c++', 'c++', 'java']

In [ ]:
# 정렬 : sort
list1=[1,5,7,2,6]

In [ ]:
list1.sort()  #리스트 자체를 정렬한다.
list1

[1, 2, 5, 6, 7]

In [ ]:
list1.sort(reverse=True)  #reverse=True : 내림차순
list1                     #reverse=False : 오름차순

[7, 6, 5, 2, 1]

In [ ]:
# 뒤집기 : reverse
list1.reverse()  # 그냥 리스트 자체를 뒤집는다.
list1

[6, 2, 7, 5, 1]

**리스트 참고**

In [ ]:
a=[10,9,8,7,6]
b=[6,7,8,9,10]  #이렇게 서로 다른 리스트 a,b가 있는데

In [ ]:
b=a  #메모리하고 값을 다 복사한다.

In [ ]:
print(b)   #b가 a와 같아졌다.

[10, 9, 8, 7, 6]

In [ ]:
a.sort()   #여기서 a를 오름차순으로 정렬 때려주고
a

[6, 7, 8, 9, 10]

In [ ]:
print(b)  #얘도 따라서 같이 정렬되는걸 알 수 있다.

[6, 7, 8, 9, 10]

In [ ]:
b=[1,2,3,4,5]  #b에 새로운걸 넣어주고

In [ ]:
print(a,b) #이렇게 각자 나옴.

[6, 7, 8, 9, 10] [1, 2, 3, 4, 5]

같은 값을 복사하고 싶으면

In [ ]:
a=[5,4,3,2,1]
b=a[:] # 값만 복사

In [ ]:
a

[5, 4, 3, 2, 1]

In [ ]:
b

[5, 4, 3, 2, 1]

In [ ]:
a.sort()

In [ ]:
a

[1, 2, 3, 4, 5]

In [ ]:
b

[5, 4, 3, 2, 1]

패킹: 한 변수에 여러개의 데이터를 넣는것

언패킹: 한 변수의 데이터를 각각의 변수로 반환

In [ ]:
e=[1,2,3] #1,2,3이라는 변수를 e에 패킹
e

[1, 2, 3]

In [ ]:
f,g,h = e #e에 있는 값 1,2,3을 변수 a,b,c에 언패킹
print(f,g,h)

1 2 3

**튜플(tuple)**



*   한개의 요소만 사용 할 때에는 콤마(,)를 반드시 사용해야함
*   괄호가 없어도 튜플로 선언할 수 있음.
*   리스트와 달리 요소를 **삽입/삭제/수정** 할 수 없음.

In [ ]:
tuple_1 = ()
tuple_2 = tuple()
tuple_3 = (1,2)
tuple_4 = (3,)
tuple_5 = (4,5,(6,7))
tuple_6 = 8,9,10

In [ ]:
# 인덱싱과 슬라이싱이 가능
tuple_3=(1,2)  
tuple_3[0]

1

In [ ]:
a=(3)  #type(a)= int
b=(3,) #type(b)= tuple

**딕셔너리(dictionary)**

*   { }을 이용하여 딕셔너리임을 선언
*   key 와 value 값으로 이루어진 자료형
*   순서가 있는 자료형이 아니며, key을 통해 value값에 접근이 가능
*   key는 고유한 값으로 중복이 될 수 없음.
*   value는 중복이 가능하다.

In [ ]:
#요소 추가하기 : 새로운 key에 value를 할당한다.
dict_1={'홍길동': 100, '홍계월': 200}

In [ ]:
dict_1['슈퍼맨']=300
dict_1      #맨 앞에 작성된다.

{'슈퍼맨': 300, '홍계월': 200, '홍길동': 100}

In [ ]:
# 요소 수정하기 : 덮어쓰기
dict_1['홍길동']=1
dict_1

{'슈퍼맨': 300, '홍계월': 200, '홍길동': 1}

In [ ]:
# 요소 삭제하기 : del
del dict_1['슈퍼맨']
dict_1  # del : 파이썬 자체의 명령어로 메모리 자체에서 삭제

{'홍계월': 200, '홍길동': 1}

In [ ]:
# key와 value에 접근하기
#key에 접근하기 : keys()
#value에 접근하기 : values()

dict_2 = {'홍길동': 100, '홍계월': 200, '슈퍼맨':150, '배트맨':250}
print(dict_2.keys())
print(type(dict_1.keys()))

dict_keys(['홍길동', '홍계월', '슈퍼맨', '배트맨'])
<class 'dict_keys'>

In [ ]:
print(dict_2.values())
print(type(dict_2.values()))

dict_values([100, 200, 150, 250])
<class 'dict_values'>

In [ ]:
# key 와 value에 함께 접근하기.
print(dict_2.items())
print(type(dict_2.items()))

dict_items([('홍길동', 100), ('홍계월', 200), ('슈퍼맨', 150), ('배트맨', 250)])
<class 'dict_items'>

리스트 처럼 보이나 실제로는 dict의 개체이므로 리스트 메소드를 사용 할 수 없다는 점 주의하세요.

In [ ]:
#리스트 처럼 사용하고 싶다면 리스트로 형 변환 해주세요/ 튜플도 가능합니다.
list(dict_1.keys())[0]

'홍길동'

**조건문** 

여기서부터 진짜 잘 이해&암기 하면서 가야해요.

In [ ]:
#if/else문
                          #콜론(:)과 들여쓰게이 주의할것.
money= True

if money :
  print('여행을 간다.')
else :
  print('집에서 쉰다.')

여행을 간다.

In [ ]:
#if/elif/else     if도 elif 도 아닌 경우 else로 간다.

money=20000

if money < 5000:
  print('라면을 먹는다.')
elif 5000<money<25000:
  print('치킨을 먹는다.')
elif 25000<money<50000:
  print('삼겹살을 먹는다.')
else:
  print('소고기를 먹는다.')

치킨을 먹는다.

요소인지 파악하기 : in /notin

In [ ]:
e=[1,3,5,7]

In [ ]:
0 in e   # e 안에 0이 있나요?

False

if 안에 if 문: 조건 안에 조건을 만들 수 있음

In [ ]:
money=20000
card=True

In [ ]:
if card: #안쓰면 true
  if money < 30000:
    print("삼겹살을 먹는다")
  else:
    print("소고기를 먹는다")
else: #카드가 false인 경우
  if money <= 1000:
    pass  # if에 걸리면 그냥 통과한다.
  else:
    print('라면을 먹는다')

삼겹살을 먹는다

조건문 중에서는 이걸 제일 많이 쓰나봐요

**삼항연산자(Ternary Operators)**

In [ ]:
# [True_value] if [condition] else [False_value]
value = 20
is_even = True if value %2==0 else False
print(is_even)

True

**포맷팅 (Formatting)**



*   %d = int(정수)
*   %f = float(실수)
*   %s = string(문자)

In [ ]:
num=1
print('문자열 포맷팅 하기 예시 %d' %num)

문자열 포맷팅 하기 예시 1

In [ ]:
ch='이름'
print('내 이름은 %s 이야' %ch)

내 이름은 이름 이야

In [ ]:
fl=2.566132
print('반올림하기 : %0.1f' %fl)  #%0.1f 에서 0.1은 소수점 첫째자리까지만 나오게 해줘 이다. %0.n -> 소수점 n번째 자리까지만

반올림하기 : 2.6

In [ ]:
# 괄호로 묶어주면 두개 이상도 포맷팅 가능
a=3
b=5
print('%d와 %d를 더하면 %d' %(a,b,a+b))

3와 5를 더하면 8

'{  }'.format(포맷팅 할 변수)

In [ ]:
print('문자열 포맷팅 하기 예시 {}'.format(2))

문자열 포맷팅 하기 예시 2

In [ ]:
print('내 이름은 {} 이야'.format(ch))

내 이름은 이름 이야

In [ ]:
# 괄호로 묶어주면 두 개 이상도 포맷팅 할 수 있음.

a='박'
b='지성'

In [ ]:
print('성은 {}, 이름은 {}'.format(a,b))

성은 박, 이름은 지성

In [ ]:
#인덱스를 통해 순서를 지정 할 수도 있음

print('성은{0}, 이름은{1}'.format(a,b))

성은박, 이름은지성

In [ ]:
#이름을 통해서 포맷팅 할 수도 있음

print('나는 오늘 {음료}를 {개수} 잔이나 마셨다.'.format(음료='커피',개수=3))

나는 오늘 커피를 3 잔이나 마셨다.

f-string (f 문자열 포맷팅)

요즘 제일 많이 사용한대요.

**f'{}'**

In [ ]:
year = 2021

f'올해는 {year}'

'올해는 2021'

In [ ]:
drink = '커피'
nums = 3

f'나는 오늘 {drink}를 {nums+1} 잔이나 마셨다.'

'나는 오늘 커피를 4 잔이나 마셨다.'

#반복문

**while**

조건문이 참인 동안 반복해서 문장을 수행한다.

In [ ]:
i =1

while i<=10:   # i가 10 이하 일때
  if i%2==0:   # i가 짝수이면
    print(i)   # 출력해주세요
  i+=1         # i는 1씩 더해주시고요.         i+=1 은 어디에 맞춰서 작성해야하는가요?

2
4
6
8
10

반복문에서 빠져나오려면 break를 이용하세요.

반복문의 첫부분으로 돌아가고 싶다면 continue

In [ ]:
i = 0

while i < 11:     #i가 11미만일때까지 반복할꺼에요.
  i+=1            # i는 1씩 증가하고요.
  if i ==6:       # 만약 i가 6이 되면요
    continue      # 반복문의 첫부분으로 돌아가세요.
  if i % 2 == 0 : # 만약 i 가 짝수이면요
    print(i)      # i를 출력해주세요.

2
4
8
10

**for**   

해당 범위까지만 돌리고 싶을때

In [ ]:
for x in range(0,5):  #변수의 범위를 지정하기 (숫자,자료형)
  print(x)

0
1
2
3
4

범위 지정하기 (range())

* 숫자로 범위주기

 range(시작, 끝, 간격)  
 0부터 시작하여 1씩 증가한다면 시작과 간격은 생략가능

*  자료형으로 범위주기

In [ ]:
#숫자로 범위주기
for count in range(5,-1,-1):  # 끝이 -1 은 거꾸로 해서 끝이 0이 되도록  
  print(count)                # 간격이 -1인 이유는 1씩 줄어들도록 하기 위함.

5
4
3
2
1
0

In [ ]:
for count in range(5): 
  print(count)

0
1
2
3
4

In [ ]:
#자료형으로 범위주기

word = 'hello'

for w in word:
  print(w)

h
e
l
l
o

In [ ]:
for a,b in [(2,1),(2,2),(2,3),(2,4)]:
  print(a*b)

2
4
6
8

**이중 반복문**

In [ ]:
#구구단 2단과 3단을 출력하기

for i in range(2,4):  #i라는 변수에 2부터 4까지(3)를 넣어줄꺼에요.
  print('===', i,'단===')  #2,3이 들어가면 이렇게 출력해주세요.
  for j in range(1,10): # j라는 변수에 1부터 10(9)까지 넣어줄꺼에요
    print(i*j)  # i*j로 출력해주세요.

=== 2 단===
2
4
6
8
10
12
14
16
18
=== 3 단===
3
6
9
12
15
18
21
24
27

In [ ]:
#제어문

#변수 x의 값이 90보다 크거나 같으면 'very good'을 출력하고 80보다 크거나 같고 90보다 작으면 'good'을 출력하고 80보다 작으면 'bad를 출력하라.

x=85

if x>90:
  print('very good')
elif x>=80 and x<90:  # (80<=x<90)도 가능
  print('good')
else :
  print('bad')

good

In [ ]:
#위 조건에 변수 x가 'x>=90을 만족하는 가운데 x가 100이면 perfect 를 출력하고 그렇지 않으면 very good 을 출력

x=100

if x>=90:
  if x==100:
    print('perfect')
  else:
    print('very good')
elif x>=80 and x<90:  # (80<=x<90)도 가능
  print('good')
else :
  print('bad')

perfect