<a href="https://colab.research.google.com/github/moonjunseok/2021-04-10-/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EC%8B%9C%ED%97%98_%EB%AC%B8%EC%A0%9C_%EC%97%B0%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

add_all(*inputs)

*inputs1:[1,2,3,4,5]

output:15

*inputs2:(1,2,3,4,5)

output:15

In [2]:
def add_all(*input):
  s=0
  for i in input:
    for j in i:
      s+=j
  return s
print(add_all([1,2,3,4,5]))
print(add_all((1,2,3,4,5)))

15
15

문제 1)

고객의 개인정보보호를 위하여 이름을 비 식별화를 하려고 한다. 고객의 이름을 비 식별화 하여서 출력해보세요.

예시) 홍길동 -> 홍*동

In [ ]:
names=['홍길동','홍계월','김철수','이영희','박첨지']

In [ ]:
new=[]
i=0

for a in names:
  new.append(names[i].replace(a[1],'*'))
  i+=1
print(new)

['홍*동', '홍*월', '김*수', '이*희', '박*지']

문제 5)

복리이자율7%로 1000만원 저금시 2000만원이 되기까지 몇년이 걸리는가?

In [ ]:
money=1000
year=0

while money<= 2000:
  add_money=money*0.07
  money+=add_money
  year+=1
print(year)

11

문제 6)

 다음 문장에서 모음('aeiou')을 제거하시오

문장 : "Life is too short, you need python!" (Hint : List comprehension or for 문을 사용하세요.)

In [ ]:
a="Life is too short, you need python!"
b='aeiou'

result=[x for x in a if x not in b]
print(''.join(result))

Lf s t shrt, y nd pythn!

문제 7) 

리스트 중에서 홀수에만 2를 곱하여 저장하는 코드 작성.

In [ ]:
list_1=[1,2,3,4,5,6,7,8,9]
a=[]

for i in list_1: 
  if i%2==1:
    a.append(i*2)
print(a)

[2, 6, 10, 14, 18]

문제 8) 

LIst Comprehension을 이용해서 list1이 1부터 100사이의 8의 배수를 가지도록 만들어 보세요

In [ ]:
list_1=[x for x in range(1,101) if x%8==0]
print(list_1)

[8, 16, 24, 32, 40, 48, 56, 64, 72, 80, 88, 96]

문제 12) 

1부터 입력받은 숫자 n 사이에 있는 소수의 개수를 반환하는 함수, solution을 만들어 보세요. 소수는 1과 자기 자신으로만 나누어지는 수를 의미합니다. (1은 소수가 아닙니다.)

[제한 조건]

n은 2이상 1000000이하의 자연수입니다.

n result

10 4

5 3

입출력 예 설명

입출력 예 #1

1부터 10 사이의 소수는 [2,3,5,7] 4개가 존재하므로 4를 반환

입출력 예 #2

1부터 5 사이의 소수는 [2,3,5] 3개가 존재하므로 3를 반환

In [ ]:
def solution(n12):
  prime = []
  count = 0
  if n12 < 2 and n12 > 1000000:
    print('2이상 1000000이하의 자연수만 입력하세요.')
  elif n12 >= 2 and n12 <= 1000000:
    for f in range(2,n12+1):
      chk = True
      for j in range(2,f):
        if f%j == 0:
          chk = False
          break
      if chk:
        count += 1
        prime.append(f)
    print(f'1부터 {n12} 사이의 소수는 {prime} {count}개가 존재하므로 {count}를 반환')
solution(10)

**18)**

숫자 형태의 문자열을 콤마가 포함된 금액 표기식 문자열로 바꾸어주는 프로그램을 작성하시오. ※ 단, 프로그래밍 언어에서 지원하는 금액변환 라이브러리는 사용하지 말것

예)

숫자 금액 1000 -> 1,000

20000000 -> 20,000,000

3245.24 -> -3,245.24

In [ ]:
cost = input(str())
trans_code = "" #문자형
# 소수점 있는지 없는지 여부
cost_int = ""  # 정수 부분
cost_float = ""  # 정수 부분
if cost.find(".") != -1:  #'.' 이 있을 경우
    # 소수점이 있는경우
    cost_float = cost[cost.find("."):]
    cost_int = cost[:cost.find(".")]
else:
    # 소수점이 없는경우
    cost_int = cost
# 수소점 3자리수 마다 ,넣기위한 변수
cum_count = 1
for i in range(len(cost_int) - 1, -1, -1):
    trans_code = cost_int[i] + trans_code
    if cum_count % 3 == 0 and i != 0:
        trans_code = ',' + trans_code
    cum_count += 1
trans_code += cost_float

print(cost_float)

19)

약수를 모두 찾는 수학 문제를 풀다가 지친 X는 컴퓨터의 도움을 받아 문제를 풀어 보기로 하였다. 하지만 계산기를 이용하자니 계산기로 하고 싶지만 찾기도 어려우며, 쉽게 찾아낼 수도 없었다. 풀이에 지친 그는 결국 약수들이 가지고 있는 특징을 찾아 결국 몇시간에 걸쳐 복잡한 수라도 약수를 찾아줄 수 있고 개수도 알려주는 프로그램을 짜게 된다.

다음은 약수를 얻기 위한 입력과 출력 예제들이다.

입력 1

24 출력 1

{ 1, 2, 3, 4, 6, 8, 12, 24} 약수의 개수는 8개 입니다. 입력 2

36 출력 2

{ 1, 2, 3, 4, 6, 9, 12, 18, 36 } 약수의 개수는 9개 입니다. 입력 3

2468013579 출력 3

{ 1, 3, 9, 61, 183, 549, 4495471, 13486413, 40459239, 274223731, 822671193, 2468013579 } 약수의 개수는 12개 입니다. 사용한 소스코드를 풀이에 넣어 입력과 출력이 나왔음을 보이고, 소스코드를 디버깅하여 123456789를 입력해 출력된 결과를 '{ a, b, ... } / 약수의 개수는 ~개 입니다' 형식으로 하시오.

In [ ]:
n=int(input())
a=[]

def yaksu(n):
  for i in range(1,n+1):
    if n%i==0:
      a.append(i)
  print(f'{set(a)} 약수의 갯수는 {len(a)} 개 입니다.')
yaksu(n)

문제 20)

2^15 = 32768 의 각 자리수를 더하면 3 + 2 + 7 + 6 + 8 = 26 입니다. 2^1000의 각 자리수를 모두 더하면 얼마입니까?

In [ ]:
a=str(2**1000)
sum=0
for i in range(len(a)):
  sum=sum+int(a[i])
print(sum)

문제 22)

2진법이란, 어떤 자연수를 0과 1로만 나타내는 것이다.

예를 들어 73은 64(2^6)+8(2^3)+1(2^0)이기 때문에 1001001으로 표현한다.

어떤 숫자를 입력받았을 때 그 숫자를 2진법으로 출력하는 프로그램을 작성하시오.

In [1]:
n=int(input())
lee=[]
def two(n):
  i=1
  while True:
    q=int((n/2))
    r= int((n%2))
    lee.insert(0,r)
    print(f'{i} : ({q},{r})')
    i+=1
    if q!=0:
      n=q
    else:
      break
  lee_str=list(map(lambda x: str(x),lee))
  print(''.join(lee_str))
two(n)

73
1 : (36,1)
2 : (18,0)
3 : (9,0)
4 : (4,1)
5 : (2,0)
6 : (1,0)
7 : (0,1)
1001001